@using EcommerceShop.Contracts.Dtos.ProductDtos
@model List<ProductDto>
<div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
    <div class="product-item-wrap row">
        @foreach (var product in Model)
        {
        <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                <div class="product-img img-zoom-effect">
                    <a href="single-product.html">
                        <img class="img-full" src="https://bizweb.dktcdn.net/100/415/697/products/te9178-11k7zwk1-1-o908-hinh-mat-truoc-0.jpg?v=1685788097953" alt="Product Images">
                    </a>
                    <div class="product-add-action">
                        <ul>
                            <li>
                                <a href="cart.html">
                                    <i class="pe-7s-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="compare.html">
                                    <i class="pe-7s-shuffle"></i>
                                </a>
                            </li>
                            <li>
                                <a href="wishlist.html">
                                    <i class="pe-7s-like"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-content">
                    <a class="product-name" href="single-product.html">@product.Name</a>
                    <div class="price-box pb-1">
                        <span class="new-price">@string.Format("{0:0,0 vnđ}", product.Price)</span>
                    </div>
                    <div class="rating-box">
                        <ul>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        }   
        <a href="#">Xem thêm</a>
    </div>
</div>