<div class="error-404-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-404-content">
                    <h1 class="title mb-5">401</h1>
                    <h2 class="sub-title mb-4">Bạn không có quyền truy cập</h2>
                    <p class="short-desc mb-7">Vui lòng không truy cập bậy bạ.</p>
                    <div class="button-wrap">
                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" asp-controller="Home" asp-action="Index">Về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>