@using EcommerceShop.Contracts.Dtos.AuthDtos;
@model UserRegisterDto
@{
    ViewData["Title"] = "Tạo người dùng";
}
<div class="container-fluid px-4">
    <h1 class="mt-5">Tạo người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Tổng quan</a></li>
        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Người dùng</a></li>
        <li class="breadcrumb-item active">Tạo người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a class="btn btn-outline-success" asp-controller="User" asp-action="Index">Danh sách</a>
        </div>
    </div>
    <div class="card mb-4">
        @* <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div> *@
        <div class="card-body">
            <form id="form-create-user" class="row g-3" asp-controller="User" asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-6">
                    <label asp-for="FirstName" for="inputFirstName" class="form-label">Tên</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="inputFirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName" for="inputLastName" class="form-label">Họ</label>
                    <input asp-for="LastName" type="text" class="form-control" id="inputLastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="UserName" for="inputUserName" class="form-label">Tên tài khoản</label>
                    <input asp-for="UserName" type="text" class="form-control" id="inputUserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" for="inputEmail" class="form-label">Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="inputEmail">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="PhoneNumber" for="inputPhoneNumber" class="form-label">Số điện thoại</label>
                    <input asp-for ="PhoneNumber" type="text" class="form-control" id="inputPhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="DoB" for="inputDoB" class="form-label">Ngày sinh</label>
                    <input asp-for="DoB" type="date" class="form-control" id="inputDoB">
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Password" for="inputPassword" class="form-label">Mật khẩu</label>
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" for="inputConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/js/users/user.js" asp-append-version="true"></script>
}
