@using EcommerceShop.Contracts.Dtos.CartDtos
@{
    var cart = ViewData["Cart"] as List<CartDto>;
    double totalPayment = 0;
}
<main class="main-content">
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">
                        <h3>Theo dõi tình trạng đơn hàng? <a asp-controller="Auth" asp-action="Login">Đăng nhập ngay</a></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <form action="javascript:void(0)">
                        <div class="checkbox-form">
                            <h3>Thông tin giao hàng</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Họ<span class="required"> *</span></label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Tên<span class="required"> *</span></label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email <span class="required">*</span></label>
                                        <input placeholder="" type="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Số điện thoại <span class="required">*</span></label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ(Số nhà, Ấp, Thôn) <span class="required">*</span></label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select class="w-100" id="city">
                                            <option value="" selected>Chọn tỉnh thành</option>           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select class="w-100" id="district">
                                            <option value="" selected>Chọn huyện</option>           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select class="w-100" id="ward">
                                            <option value="" selected>Chọn xã</option>           
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Đơn hàng của bạn</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Sản phẩm</th>
                                        <th class="cart-product-total">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in cart)
                                    {
                                        totalPayment = totalPayment + item.Total;
                                    <tr class="cart_item">
                                        <td class="cart-product-name">@item.Product.Name<strong class="product-quantity">
                                            × @item.Quantity</strong></td>
                                        <td class="cart-product-total"><span class="amount">@string.Format("{0:0,0 vnđ}", item.Total)</span></td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th>Tiền phải thanh toán</th>
                                        <td><strong><span class="amount">@string.Format("{0:0,0 vnđ}", totalPayment)</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <form asp-controller="Home" asp-action="Index">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <input type="radio" name="payment" id="">
                                                    <a class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                        COD
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Thanh toán ngay khi nhận hàng.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-2">
                                                <h5 class="panel-title">
                                                    <input type="radio" name="payment" id="">
                                                    <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                        Momo
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Thanh toán qua ví điện tử Momo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input value="Place order" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    #city, #district, #ward {
        border: 1px solid #dee2e6;
        background: #fff;
        border-radius: 0;
        height: 42px;
        padding: 0 0 0 10px;
        font-size: 15px;
    }
</style>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/cart/checkout.js" asp-append-version="true"></script>
}