@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var countCart = HttpContextAccessor.HttpContext?.Session.GetString("CountCart");
}
   <!-- Begin Main Header Area -->
    <header class="main-header_area position-relative">
        <div class="header-top border-bottom d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="header-top-left">
                            <ul class="dropdown-wrap text-matterhorn">
                                @await Component.InvokeAsync("LanguageHeader")
                                @* <li class="dropdown">
                                    <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="currencyButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        USD
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="currencyButton">
                                        <li><a class="dropdown-item" href="#">GBP</a></li>
                                        <li><a class="dropdown-item" href="#">ISO</a></li>
                                    </ul>
                                </li> *@
                                <li>
                                    Liên hệ
                                    <a href="tel://3965410">3965410</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="header-top-right text-matterhorn">
                            <p class="shipping mb-0">Miễn phí vận chuyển với đơn hàng <span>200.000 vnđ</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="header-middle-wrap">
                            <a href="index.html" class="header-logo">
                                <img src="/images/logo/dark.png" alt="Header Logo">
                            </a>
                            <div class="header-search-area d-none d-lg-block">
                                @await Component.InvokeAsync("SearchHeader")
                            </div>
                            <div class="header-right">
                                <ul>
                                    <li class="dropdown d-none d-md-block">
                                        <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="pe-7s-users"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                            <li><a class="dropdown-item" href="my-account.html">Tài khoản của tôi</a></li>
                                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="Index">Đăng nhập || Đăng ký</a></li>
                                        </ul>
                                    </li>
                                    <li class="d-none d-md-block">
                                        <a href="wishlist.html">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                    <li class="d-block d-lg-none">
                                        <a href="#searchBar" class="search-btn toolbar-btn">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap me-3 me-lg-0">
                                        <a href="#miniCart" id="btn-mini-cart" class="minicart-btn toolbar-btn">
                                            <i class="pe-7s-shopbag"></i>
                                            <span class="quantity" id="count-cart-item">@countCart</span>
                                        </a>
                                    </li>
                                    <li class="mobile-menu_wrap d-block d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                            <i class="pe-7s-menu"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Navbar")
        <div class="offcanvas-minicart_wrapper" id="miniCart">
            <div class="harmic-offcanvas-body" id="miniCart-body"> 
                <!--Viewcomponent minicart render -->
            </div>
        </div>
        <div class="global-overlay"></div>
    </header>
    <!-- Main Header Area End Here -->